
body {
    background-color: #FFFFFF;
    color: black;
}

.contact {
    font-size: 20px;
    padding: 30px;
}

.contactform input[type=text], select, textarea {
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

.contactform input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

header {
    background-image: url('repeat.jpg');
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 50px
}

input[type=submit] {
    cursor: pointer;
    background-color: #474947;
    color: #FFFFFF;
}

nav {
    background-color: #22292C;
    color: white;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
}

.searchbar {
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    float: right;
    padding: 7px;
}

.searchbar input[type=submit] {
    border: 2px;
    border-radius: 25px;
    margin-right: 10px;
    padding: 8px 15px;
}

.searchbar input[type=submit] :hover {
    border: 1px solid #8EA86D;
}

.searchbar input {
    background-color: white;
    border: 2px;
    border-radius: 25px;
    color: grey;
    margin: 4px 7px 4px 1px;
    padding: 8px 10px;
}

.topnav a{
    background-color: transparent;
    color: white;
    float: left;
    margin-top: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.topnav a:hover, a:active{
    background-color: #474947;
    color: #8EA86D;
}
