
body {
    background-color: #FFFFFF;
    color: black;
}

header {
    text-align: center;
    background-image: url('repeat.jpg');
    padding: 30px;
}

header h1 {
    font-size: 50px
}

nav {
    overflow: hidden;
    background-color: #22292C;
    color: white;
    text-align: center;
    font-size: 20px;
}

.topnav a{
    float: left;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 5px;
}

.topnav a:hover, a:active{
    color: #8EA86D;
    background-color: #474947;
}
.searchbar {
    float: right;
    padding: 7px;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
}
.searchbar button:hover {
    border: 1px solid #8EA86D;
}

input {
    border: 2px;
    border-radius: 25px;
    color: grey;
    background-color: white;
    padding: 8px 10px;
    margin: 4px 7px 4px 1px;
}

button {
    border: 2px;
    border-radius: 25px;
    color: white;
    background-color: #474947;
    padding: 8px 15px;
    margin-right: 10px;
}
